# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git_reps\travel_guide_app_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/node_modules
